$darkGreen: #202819;
$lightGreen: #A6CF98;
$lightShadowGreen: 0px 4px 30px 0px rgba(166, 207, 152, 0.70);
$black: #272829;
$blackSecondary: #666;
$logoColor: #A8DF8E;
$navbarTextColor: #C8DBBE;
$navbarTextColorHover: #9cac94;

@import url('./fonts.css');

.primary-background {
  background-color: $darkGreen;
}

.light-background {
  background-color: $lightGreen;
}


.title {
  color: $logoColor;
  font-size: 1.75rem;
}

.header-wrapper {
  height: 100px;

  .nav-link a {
    color: $navbarTextColor;
    font-size: 0.938rem;

    &:hover{
      color: $navbarTextColorHover;
    }
  }
}

.hero-wrapper {
  height: 824px;
  background: url('../../public/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $darkGreen;
}

.btn {
  border-radius: 20px;
  padding: 15px 40px;
  font-size: 1rem;
}

.btn-primary {
  background-color: $lightGreen;
  box-shadow: $lightShadowGreen;
  color: white;
}

.text-dark {
  color: $black;
}

.text-secondary {
  color: $blackSecondary;
}

.knowledge-wrapper {
  background-color: #EEEEEE;
}